In [21]:
import pandas as pd
df = pd.read_csv('Confirmed Case.csv')
df.head()

,Tanggal,18-Mar,19-Mar,20-Mar,21-Mar,22-Mar,23-Mar,24-Mar,25-Mar,26-Mar,...,21-Sep.1,22-Sep.1,23-Sep.1,24-Sep.1,25-Sep.1,26-Sep.1,27-Sep.1,28-Sep.1,29-Sep.1,30-Sep.1
0,Total Kasus,227,309,356,440,508,571,681,778,873,...,4195958,4198678,4201559,4204116,4206253,4208013,4209403,4211460,4213364,4215054
1,Aceh,0,0,0,0,0,0,0,0,1,...,37117,37239,37309,37394,37482,37526,37589,37631,37693,37733
2,Bali,1,1,4,3,3,6,6,9,9,...,111672,111804,111942,112059,112164,112249,112316,112408,112496,112582
3,Banten,17,27,37,43,47,56,65,67,67,...,130992,131069,131142,131210,131254,131301,131325,131369,131416,131475
4,Babel,0,0,0,0,0,0,0,0,0,...,50659,50740,50830,50881,50940,50991,51027,51088,51147,51209

In [22]:
df.fillna(0, inplace = True)
df.head()

,Tanggal,18-Mar,19-Mar,20-Mar,21-Mar,22-Mar,23-Mar,24-Mar,25-Mar,26-Mar,...,21-Sep.1,22-Sep.1,23-Sep.1,24-Sep.1,25-Sep.1,26-Sep.1,27-Sep.1,28-Sep.1,29-Sep.1,30-Sep.1
0,Total Kasus,227,309,356,440,508,571,681,778,873,...,4195958,4198678,4201559,4204116,4206253,4208013,4209403,4211460,4213364,4215054
1,Aceh,0,0,0,0,0,0,0,0,1,...,37117,37239,37309,37394,37482,37526,37589,37631,37693,37733
2,Bali,1,1,4,3,3,6,6,9,9,...,111672,111804,111942,112059,112164,112249,112316,112408,112496,112582
3,Banten,17,27,37,43,47,56,65,67,67,...,130992,131069,131142,131210,131254,131301,131325,131369,131416,131475
4,Babel,0,0,0,0,0,0,0,0,0,...,50659,50740,50830,50881,50940,50991,51027,51088,51147,51209

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Columns: 563 entries, Tanggal to 30-Sep.1
dtypes: int64(562), object(1)
memory usage: 154.1+ KB

In [24]:
df.head()

,Tanggal,18-Mar,19-Mar,20-Mar,21-Mar,22-Mar,23-Mar,24-Mar,25-Mar,26-Mar,...,21-Sep.1,22-Sep.1,23-Sep.1,24-Sep.1,25-Sep.1,26-Sep.1,27-Sep.1,28-Sep.1,29-Sep.1,30-Sep.1
0,Total Kasus,227,309,356,440,508,571,681,778,873,...,4195958,4198678,4201559,4204116,4206253,4208013,4209403,4211460,4213364,4215054
1,Aceh,0,0,0,0,0,0,0,0,1,...,37117,37239,37309,37394,37482,37526,37589,37631,37693,37733
2,Bali,1,1,4,3,3,6,6,9,9,...,111672,111804,111942,112059,112164,112249,112316,112408,112496,112582
3,Banten,17,27,37,43,47,56,65,67,67,...,130992,131069,131142,131210,131254,131301,131325,131369,131416,131475
4,Babel,0,0,0,0,0,0,0,0,0,...,50659,50740,50830,50881,50940,50991,51027,51088,51147,51209

In [25]:
import numpy as np

dates = df.columns.values[1:]
days_since = np.array([i for i in range(len(dates))]).reshape(-1,1)

In [26]:
daysinfuture = 49
future_forecast = np.array([i for i in range(len(dates)+daysinfuture)]).reshape(-1,1)
adjusted_dates = future_forecast[:-49]

In [27]:
import datetime

start = '3-18-2020'
start_date = datetime.datetime.strptime(start, '%m-%d-%Y')
future_forecast_dates = []
for i in range(len(future_forecast)):
    future_forecast_dates.append((start_date + datetime.timedelta(days = i)).strftime('%m/%d/%Y'))

In [28]:
cases = df.iloc[0,:].values[1:]
total_cases = np.array(cases).reshape(-1,1)

In [29]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(days_since,total_cases, test_size = 0.3, shuffle = False)

In [30]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree = 3)
polyx = poly.fit_transform(days_since)
polyforecast = poly.transform(future_forecast)
polyxtest= poly.transform(xtest)

In [31]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

lr = LinearRegression(fit_intercept = False)
lr.fit(polyx, total_cases)
ypred = lr.predict(polyxtest)
ypredforecast = lr.predict(polyforecast)
r2 = r2_score(ytest,ypred)
print(r2, 'Done')
# print(future_forecast)

0.9245872801323203 Done

In [32]:
'''
test1 = [[244]] 
test2 = poly.transform(test1)
print(test2)
pred11 = lr.predict(test2)
print(pred11)
'''

'\ntest1 = [[244]] \ntest2 = poly.transform(test1)\nprint(test2)\npred11 = lr.predict(test2)\nprint(pred11)\n'

In [33]:
import pickle

pickle.dump(lr, open('pred.pkl', 'wb'))
pickle.dump(poly, open('transform.pkl', 'wb'))

In [34]:
from sklearn.preprocessing import PolynomialFeatures
for i in range(1,36):
    cases = df.iloc[i,:].values[1:]
    total_cases = np.array(cases).reshape(-1,1)
    
    xtrain,xtest,ytrain,ytest = train_test_split(days_since,total_cases, test_size = 0.3, shuffle = False)
    finalforecast = []
    tempr2 = 0
    temp = 0
    for j in range(2,4):
        poly = PolynomialFeatures(degree = j)
        polyx = poly.fit_transform(days_since)
        polyforecast = poly.transform(future_forecast)
        polyxtest= poly.transform(xtest)
        

        lr = LinearRegression(fit_intercept = False)#
        lr.fit(polyx, total_cases)
        ypred = lr.predict(polyxtest)
        ypredforecast = lr.predict(polyforecast)
        r2 = r2_score(ytest,ypred)
        
        if r2 > tempr2:
            tempr2 = r2
            finalforecast = ypredforecast
            temp = j
            
        if tempr2 ==0:
            lr2 = LinearRegression(fit_intercept = False)
            lr2.fit(days_since,total_cases)
            ypred = lr2.predict(xtest)
            finalforecast = lr2.predict(future_forecast)
            r2 = r2_score(ytest,ypred)
            
    if i == 1:
        pickle.dump(lr, open('ac.pkl', 'wb'))
    elif i ==2:
        pickle.dump(lr, open('bl.pkl', 'wb'))
    elif i ==3:
        pickle.dump(lr, open('btn.pkl', 'wb'))
    elif i ==4:
        pickle.dump(lr, open('bbl.pkl', 'wb'))
    elif i ==5:
        pickle.dump(lr, open('bngk.pkl', 'wb'))
    elif i ==6:
        pickle.dump(lr, open('diy.pkl', 'wb'))
    elif i ==7:
        pickle.dump(lr, open('jkt.pkl', 'wb'))
    elif i ==8:
        pickle.dump(lr, open('jmb.pkl', 'wb'))
    elif i ==9:
        pickle.dump(lr, open('jbr.pkl', 'wb'))
    elif i ==10:
        pickle.dump(lr, open('jtn.pkl', 'wb'))
    elif i ==11:
        pickle.dump(lr, open('jtm.pkl', 'wb'))
    elif i ==12:
        pickle.dump(lr, open('klbr.pkl', 'wb'))
    elif i ==13:
        pickle.dump(lr, open('kltm.pkl', 'wb'))
    elif i ==14:
        pickle.dump(lr, open('kltng.pkl', 'wb'))  
    elif i ==15:
        pickle.dump(lr, open('klsl.pkl', 'wb'))
    elif i ==16:
        pickle.dump(lr, open('kltu.pkl', 'wb'))
    elif i ==17:
        pickle.dump(lr, open('kria.pkl', 'wb'))
    elif i ==18:
        pickle.dump(lr, open('ntb.pkl', 'wb'))
    elif i ==19:
        pickle.dump(lr, open('smsl.pkl', 'wb'))
    elif i ==20:
        pickle.dump(lr, open('smbr.pkl', 'wb'))
    elif i ==21:
        pickle.dump(lr, open('slt.pkl', 'wb'))
    elif i ==22:
        pickle.dump(lr, open('smut.pkl', 'wb'))
    elif i ==23:
        pickle.dump(lr, open('sltr.pkl', 'wb'))
    elif i ==24:
        pickle.dump(lr, open('slsl.pkl', 'wb'))
    elif i ==25:
        pickle.dump(lr, open('sltg.pkl', 'wb'))
    elif i ==26:
        pickle.dump(lr, open('lmpg.pkl', 'wb'))
    elif i ==27:
        pickle.dump(lr, open('ria.pkl', 'wb'))
    elif i ==28:
        pickle.dump(lr, open('malut.pkl', 'wb'))
    elif i ==29:
        pickle.dump(lr, open('mlku.pkl', 'wb'))
    elif i ==30:
        pickle.dump(lr, open('papbr.pkl', 'wb'))
    elif i ==31:
        pickle.dump(lr, open('ppa.pkl', 'wb'))
    elif i ==32:
        pickle.dump(lr, open('slbr.pkl', 'wb'))
    elif i ==33:
        pickle.dump(lr, open('ntt.pkl', 'wb'))
    elif i ==34:
        pickle.dump(lr, open('grtl.pkl', 'wb'))
    else:
        pickle.dump(lr, open('none.pkl', 'wb'))

IndexError: single positional indexer is out-of-bounds